:root {
    --width-animation: 0px;
    --transform-rotate: 45deg;
    --top-line:50%;
    --right-line:50%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 600;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.main-container {
    display: grid;
    justify-items: center;
}

.layout1-container {
    display: grid;
    justify-items: center;
    row-gap: 50px;
}

.main-icon {
    width: 100px;
    height: 100px;
    animation-name: icon-main-animation;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.button-start-game, .accept-button-game {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #54cb65e8;
    color: #fff;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.accept-button-game{
    width: 150px;
    height: 40px;
}

.button-start-game:hover, .accept-button-game:hover {
    transform: scale(1.3);
    background-color: #aa3b3bc4;
}

@keyframes icon-main-animation {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.5)
    }
}

@keyframes start-game-animation-button {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}

@keyframes example-line-animation {
    0% {
        width: 0px
    }

    100% {
        width: var(--width-animation)
    }
}

@keyframes vibration {
    0% {
        transform: translateX(-20px);
    }

    25% {
        transform: translateX(20px);
    }

    50% {
        transform: translateX(-20px);
    }

    75% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(-20px);
    }
}
@keyframes scalePlayer {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}
@keyframes scaleMenosPlayer {
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.scale-1-5-player{
    animation: scalePlayer 0.5s forwards;;
}

.scale-1-player{
    animation: scaleMenosPlayer 0.5s forwards;;
}

.layout2-container-test {
    display: flex;
    position: absolute;
    top: 294px;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.container-2 {
    width: 600px;
    height: 600px;
    position: absolute;
    background-color: blue;
    z-index: 1;
    animation: vibration 0.5s cubic-bezier(0.52, -0.19, 1, 1);
}

.example-line {
    position: absolute;
    width: var(--width-animation);
    height: 30px;
    border-radius: 30px;
    z-index: 15;
    background-color: red;
    animation: example-line-animation 0.5s cubic-bezier(0.52, -0.19, 1, 1);
}

.example-line-parent {
    width: var(--width-animation);
    height: 30px;
    border-radius: 30px;
    position: absolute;
    top: var(--top-line);
    right: var(--right-line);
    z-index: 14;
    transform: translate(50%, -50%) rotate(var(--transform-rotate));
}

.container-game {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: rgba(134, 132, 132, 0.87);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    z-index: 10;
    margin-top: 2rem;
}
.container-win-message{
    z-index: 20;
    width: 250px;
    height: 120px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #ffffffd9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 6px 7px 5px 0px #0000005e;
    border: 0.5px solid #00000047;
}
.accept-button{
    height: 20px;
    width: 80%;
    display: flex;
    cursor: pointer;
    border: 1px solid #508CC5;
    justify-content: center;
    transition: 0.3s;
}
.accept-button:hover{
    transform: scale(1.2);
    background-color: #508CC5;
}
.game-button {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.game-button img{
    width: calc(100% - 10px);
    height: auto;
}
.circle img, .cross img{
    width: 100%;
    height: auto;
}

.container-circle-cross{
    display: flex;
    justify-content: space-around;
}

.layout2-container{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

@media (max-width: 600px) {
    .container-game {
        width: 400px;
        height: 400px;
    }
    .circle, .cross{
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 500px) {
    .container-game {
        width: 400px;
        height: 400px;
    }
    .circle, .cross{
        height: 75px;
        width: 75px;
    }
    .example-line-parent, .example-line{
        height: 20px;
    }
}

@media (max-width: 400px) {
    .container-game {
        width: 300px;
        height: 300px;
    }
    .circle, .cross{
        height: 65px;
        width: 65px; 
    }
    .example-line-parent, .example-line{
        height: 20px;
    }

}

@media (max-width: 300px) {
    .container-game {
        width: 200px;
        height: 200px;
    }
    .circle, .cross{
        height: 50px;
        width: 50px;
    }
}